.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    a {
        color: color(text);
        text-decoration: none; /* no underline */
    }
}

.nav-logo {
    padding-left: 50px;
}

.nav-links {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    menu {
        font-size: 1.6rem;
        a {
            padding-right: 25px;
        }
    }
    settings {
        font-size: 3rem;
        margin-left:100px;
        a{
            color: color(primary);
        }
    }
}